{% extends "base.html" %}
{% block title %}  Все ресурсы {%endblock %}

{% block content %}
<main>
  <section class="container my-5">

    <h1>Все ресурсы </h1>
    <br>
    <p class="py-3 mb-3">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <span style="color: red">{{ message }}</span>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </p>
    <br>

    <!-- Форма для фильтрации и очистка фильтра -->
    <form action="/" method="get" class="row g-3">
      <div class="col-auto">
      <input type="text" name="domain" placeholder="Доменное имя" class="form-control">
    </div>
    <div class="col-auto">
      <input type="text" name="domain_zone" placeholder="Доменная зона" class="form-control">
    </div>
    <div class="col-auto">
      <select name="is_awailable" class="form-select">
          <option value="">Статус доступности</option>
          <option value="True">Доступен</option>
          <option value="False">Недоступен</option>
      </select>
    </div>
      <br>
      <br>
      <div class="col-auto">
      <button type="submit" class="btn btn-primary">Применить фильтр</button>
    </div>
    <div class="col-auto">
      <form action="{{ url_for('get_sources_view') }}" method="post">
        <button class="btn btn-primary" name="clear" value="True">Очистить фильтр</button>
      </form>
    </div>
  </form>
  <br>
  <br>

    <!-- Таблица с данными -->
    <div class="col-12 my-5" >
    <table class="table">
      <thead>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Доменное имя</th>
              <th scope="col">Доменная зона</th>
              <th class="w-10" scope="col">Полная ссылка</th>
              <th scope="col">Статус доступности</th>
              <th scope="col">Удалить</th>
          </tr>
      </thead>
      <tbody>
          {% for source in sources %}
          <tr>
              <td>{{ source.id }}</td>
              <td>{{ source.domain }}</td>
              <td>{{ source.domain_zone }}</td>


              <td class="w-8" style="width: 40%; word-break:break-all;"><a href="{{ url_for('source_view', source_id=source.id)}}">{{ source.full_link }}</a></td>
              <td>{{ source.status_code }}</td>
              <td><a href="{{ url_for('delete_source_view', source_id=source.id) }}"
                class="btn btn-outline-danger">Удалить</a></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>


    <!-- Пагинация -->
          <div>
          {% for page_num in sources.iter_pages(
            left_edge=1, right_edge=1, left_current=1, right_current=1)%}
            {% if page_num %}
            {% if sources.page == page_num %}
          <a class="btn btn-primary mb-4"
          href="{{ url_for('get_sources_view', page=page_num) }}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-primary mb-4"
          href="{{ url_for('get_sources_view', page=page_num) }}">{{ page_num }}</a>
        {% endif %} {% else %} ... {% endif %} {% endfor %}
        </div>

    </section>
  </main>
  {% endblock %}