<header class="pt-3">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
      <a class="navbar-brand" href="{{ url_for('create_source_view') }}">
          <img src="{{ url_for('static', filename='img/timer.png') }}" height="50" class="" alt="" />
      </a>
        <div class="d-flex justify-content-end">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('create_source_view') }}">
                Добавить ресурс
              </a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{{ url_for('get_sources_view') }}">
                Все ресурсы
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('get_logs_view') }}">
                Журнал
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('news_view') }}">
                Лента новостей
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>